<!doctype html>

<html>
	<head>
		<title>Current Simulation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<canvas id="view"></canvas>
		<script src="assets/js/current.js"></script>
	</body>
</html>
