<!doctype html>

<html>
	<head>
		<title>Gravity</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css">
			.gravity-interface {

			}
			.gravity-interface label,
			.gravity-interface select,
			.gravity-interface strong,
			.gravity-interface button ,
			.gravity-interface input {
				display: block;
			}
		</style>
	</head>
	<body>
		<div id="gravity-interface" class="gravity-interface">
			<h1>Gravity</h1>
			<form class="controls" id="gravity-controls">
				<label>
					<strong>Planet</strong>
					<select id="gravity-select" class="planet">
						<option value="9.81" data-planet="earth">Earth</option>
						<option value="1.624" data-planet="moon">Moon</option>
						<option value="24.8" data-planet="jupiter">Jupiter</option>
					</select>
				</label>
				<label>
					<strong>Velocity</strong>
					<input type="number" id="velocity-input" class="velocity" value="25.00">
				</label>
				<button class="start">start</button>
				<button class="drop">drop</button>
				<button class="reset">reset</button>
				<label>
					<strong>Results</strong>
					<input type="text" class="results" disabled>
				</label>
			</form>
			<canvas id="view"style="background-color: blue;"></canvas>
		</div>
		<script src="/assets/js/gravity.js"></script>
	</body>
</html>
