<!doctype html>

<html>
	<head>
		<title>Ships</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<ul>
			{{#each data.pages}}
			<li>
				<a href="{{this}}">{{this}}</a>
			</li>
			{{/each}}
		</ul>
	</body>
</html>
