<!doctype html>

<html>
	<head>
		<title>Canvas Ship</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style media="screen" type="text/css">
			* { margin: 0; padding: 0; }
			html, body { height: 100%; }
		</style>
	</head>
	<body>
		<canvas id="view"></canvas>
		<canvas id="pixi"></canvas>
		<script src="assets/js/matter.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
